.field{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width: 720px) {
        justify-content: left !important;
        padding-left: 15vw !important;
        
    }

    @media(max-width: 1200px) {
        justify-content: left;
        padding-left: 35vw;
        
    }

}

.card-stack{
    position: relative;
  
    img{
       position: absolute;
        width: 180px;

        @media(max-width: 1200px) {
            width: 120px;
            
        }

        @media(max-width: 1200px) {
            width: 100px !important; 
        }

    }
}


.top-card{
    cursor: pointer;
    transition: all 125ms ease ease-in-out;
 
    &:hover{
        transform: scale(1.1) translateY(-10px);
    }
}

.played-card{
    left: 25px;
    transform: scale(1.3) translateX(250px) translateY(-180px) rotate(-10deg);

    @media(max-width: 720px) {
     
        transform: scale(1.3) translateX(30px) translateY(-100px) rotate(-10deg);
       
    }


    @media(max-width: 1200px) {
        
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
       
    }
}

.pick-card{
   
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);

    @media(max-width: 720px){
        animation: pick-card-animation-responsive720 1s ease-in-out;
        transform: scale(1.3) translateX(30px) translateY(-100px) rotate(-10deg);
    }

    @media(max-width: 1200px) {
        animation: pick-card-animation-responsive1200 1s ease-in-out;
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
    }

}

@keyframes pick-card-animation{
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(1.7);
    }
    60%{
        transform: scale(1.7);
    }
    100%{
        transform: scale(1.3) translateX(250px) translateY(-180px) rotate(-10deg);
    }

}

@keyframes pick-card-animation-responsive720{
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(1.7);
    }
    60%{
        transform: scale(1.7);
    }
    100%{
        transform: scale(1.3) translateX(30px) translateY(-100px) rotate(-10deg);
    }

}


@keyframes pick-card-animation-responsive1200{
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(1.7);
    }
    60%{
        transform: scale(1.7);
    }
    100%{
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
    }

}

.player-position{
    z-index: 1;
    position: absolute;
    right: 0px;
}

.btn-add{
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pin-bottom{
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;

    @media(max-width: 720px) {
        left: 0px;
        right: 0px !important;
        bottom: 0px;
    }
}

.scroll-container{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;


    app-player-mobile{
        margin-left: 8px;
    }
}

app-player, app-player-mobile{
    cursor: pointer;

    &:hover{
        filter: brightness(1.15);
    }
}

.gameOver{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 300px;

    }

}

.preloadImage{
    opacity: 0;
    z-index: -999999;

}